.registration-new
  .registration-new--title 新規登録
  .registration-new--content
    = form_for @user do |f|
      %table.regstration-form
        %td.registration-form--nickname
          .registration-form--nickname--title ニックネーム
          = f.text_field :nickname, class: "registraion-form--nickname--text-field"
        %td.registration-form--name
          .registration-form--name--tilte 名前
          = f.text_field :first_name, class: "registraion-form--first-name--text-field"
          = f.text_field :last_name, class: "registraion-form--last-name--text-field"
        %td.registration-form--name-jp
          .registration-form--name-jp--title フリガナ
          = f.text_field :first_name_jp, class: "registration-form--first-name-jp"
          = f.text_field :last_name_jp, class: "registration-form--last-name-jp"
        %td.registration-form--address
          .registration-form--address--title メールアドレス
          = f.email_field :email, class: "registration-form--address"
        %td.registration-form--password
          .registration-form--password--title パスワード
          = f.password_field :password, autocomplete: "new-password"
        %td.registrattion-form--password-confirmation
          .registration-form--password--title パスワード(確認)
          = f.password_field :password_confirmation, autocomplete: "new-password"
      .registration-next
        = button_tag "次に進む",class: "registration-btn"
        = link_to "既にアカウントをお持ちの方はこちらから", new_session_path(resource_name), class: "registration-login-btn"


