=render "shared/header"
.user-top
  .user-top--title 登録情報
  .user-top--btn
    = link_to "編集", "#", class: "user-top--btn-link"
  %table.user-top--main
    %tr.user-top--main--nickname
      %th.user-top--main--nickname--left
        .user-top--main--nickname--left--text ニックネーム
      %td.user-top--main--nickname--right
        = @user.nickname
    %tr.user-top--main--fist-name
      %th.user-top--main--fist-name--left
        .user-top--main--fist-name--left--text 苗字
      %td.user-top--main--fist-name--right
        = @user.first_name
    %tr.user-top--main--last-name
      %th.user-top--main--last-name--left
        .user-top--main--last-name--left--text 名前
      %td.user-top--main--last-name--right
        = @user.last_name
    %tr.user-top--main--fist-name-jp
      %th.user-top--main--fist-name-jp--left
        .user-top--main--fist-name-jp--left--text 苗字(フリガナ)
      %td.user-top--main--fist-name-jp--right
        = @user.first_name_jp
    %tr.user-top--main--last-name-jp
      %th.user-top--main--last-name-jp--left
        .user-top--main--last-name-jp--left--text 名前(フリガナ)
      %td.user-top--main--last-name-jp--right
        = @user.last_name_jp
    %tr.user-top--main--address
      %th.user-top--main--address--left
        .user-top--main--address--left--text 住所
      %td.user-top--main--address--right
        = @user.add_ress
  %table.user-vote
    %tbody.user-vote--body
      .user-vote--title 投稿一覧
      %tr.user-vote--body--record
        %td.user-vote--body--record--cell ID
        %td.user-vote--body--record--cell タイトル
        %td.user-vote--body--record--cell 投稿日
        %td.user-vote--body--record--cell 画像
      -@product.each do |products|
        %tr.user-vote--body--record
          %td.user-vote--body--record--cell
            = products.id
          %td.user-vote--body--record--cell
            = products.title
          %td.user-vote--body--record--cell
            = products.created_at.strftime("%Y年%m月%d日%H:%M")
          -# each内での画像表示
          %td.user-vote--body--record--cell
            = link_to product_path(products.id) do
              .products--describe--link
                = products.describe
          %td.user-vote--body--record--cell
            = link_to "削除", product_path(products.id), method: :delete

.scrollTop
  %i.fas.fa-chevron-up.fa-2x
.scrollDown
  %i.fas.fa-chevron-down.fa-2x

