.products-top
  =render "shared/header"
  .products-top--image
    -@producta.each do |products|
      .products-top--image--left
        = link_to "#", class: "link-top-left" do
          .products-top--image--left--objects
            = image_tag products.image.to_s
          .top-image-left--title
            = products.title
.product-vote
  .product-vote--title 投稿
  .product-vote--main
    = form_for :product, url: products_path do |f|
      %table.vote-table
        %td.vote-table--title
          .vote-table--title--text タイトル
          = f.text_field :title, class: "vote-form--title-field",placeholder: "タイトル"
        %td.vote-table--describe
          .vote-table--describe--text 説明
          = f.text_field :describe, class: "vote-form--describe-field",placeholder: "説明"
        %td.vote-table--image
          .vote-table--image--image 画像
          = f.file_field :image, class: "vote-form--image-field"
      .product-vote--next
        = button_tag "投稿",class: "vote-btn"
.scrollTop
  %i.fas.fa-chevron-up


